<!DOCTYPE html>
<html>
<head>
  <title>
    Sentinel
  </title>

  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

# frozen_string_literal: true
stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
 %>

# frozen_string_literal: true
stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
 %>
# frozen_string_literal: true
javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
 %>
# frozen_string_literal: true
javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
 %>
# frozen_string_literal: true
javascript_include_tag '//code.highcharts.com/highcharts.js', 'chartkick'
 %>

# frozen_string_literal: true
javascript_include_tag 'application', 'data-turbolinks-track' => true
 %>
# frozen_string_literal: true
csrf_meta_tags
 %>
</head>
<body>

<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Sentinel</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
# frozen_string_literal: true
link_to 'posts', posts_path
 %></li>
# frozen_string_literal: true
link_to 'reasons', reasons_path
 %></li>
# frozen_string_literal: true
link_to 'search', search_path
 %></li>
# frozen_string_literal: true
link_to review_path
 do %>
# frozen_string_literal: true
@posts_without_feedback = Post.left_joins(:feedbacks).where(feedbacks: { id: nil })
 %>
# frozen_string_literal: true
@posts_without_feedback.count
 %></span>
          <span class="caret"></span>
# frozen_string_literal: true
Site.all.where(id: [1, 29]).each
 do |site| %>
            <li>
# frozen_string_literal: true
url_for(controller: :review, site: site.id)
 do %>
# frozen_string_literal: true
site.name
 %>
# frozen_string_literal: true
@posts_without_feedback.where(posts: { site_id: site.id }).count
 %></span>
              <% end %>
            </li>
          <% end %>
        <% end %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li class="dropdown">
# frozen_string_literal: true
current_user.username.presence || current_user.email
 %> <span class="caret"></span></a>
              <ul class="dropdown-menu">
# frozen_string_literal: true
link_to 'Logout', destroy_user_session_path, method: :delete
 %></li>
# frozen_string_literal: true
link_to 'Apps', apps_path
 %></li>
# frozen_string_literal: true
link_to 'Account Settings', edit_user_registration_path
 %></li>
# frozen_string_literal: true
link_to user_feedback_path(current_user.id)
 do %>
# frozen_string_literal: true
Feedback.joins(:post).where(chat_username: current_user.username).count
 %></span>
                <% end %></li>
                <% if user_signed_in? && current_user.has_role?(:admin) %>
                  <li class="divider"></li>
# frozen_string_literal: true
link_to 'User Data', users_path
 %></li>
# frozen_string_literal: true
link_to 'Write Keys', bots_path
 %></li>
# frozen_string_literal: true
link_to 'App Tools', apps_admin_path
 %></li>
                <% end %>
              </ul>
            </li>
        <% else %>
# frozen_string_literal: true
link_to 'sign in', new_user_session_path
 %></li>
# frozen_string_literal: true
link_to 'sign up', new_user_registration_path
 %></li>
        <% end %>
# frozen_string_literal: true
console
 %>
# frozen_string_literal: true
link_to 'https://github.com/ArtOfCode-/Sentinel'
 do %>
# frozen_string_literal: true
current_version
 %></code>
        <% end %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="col-md-offset-1 col-md-10">
# frozen_string_literal: true
flash.each
 do |key, value| %>
# frozen_string_literal: true
value
 %></div>
  <% end %>

# frozen_string_literal: true
yield
 %>
</div>
</body>
</html>
